/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
// $grey: #FFCC00;
$grey: #e7c609;
// $grey: #858585;
$blue: #1D639B;
$dark-blue: #173757;
$green: #3CAEA3;
$yellow: #F6D55C;
$orange: #ED5538;
$red: #C6330E;
$wndr-o: #E48A36;
