.pub-section{
    margin: 40px 0;
    @include lg{
        margin: 100px 0;
    }

    border-bottom: black 1px solid;

    >div{
        margin-bottom: 40px;
        @include lg{
            margin-bottom: 100px;

        }

        

        .pub-type-container{
            @include md{
                display: grid;
                grid-template-columns: 50% auto;
                // grid-template-rows: auto auto auto 150px;
                grid-template-areas: "br br"
                "brn brn"
                "ob ob"
                "obt obt"
                "ti ti"
                " sm  sm"
                " smt  smt"
                ;
               
            }
            @include lg{
                display: grid;
                grid-template-columns: 50% auto;
                // grid-template-rows: auto auto auto 150px;
                grid-template-areas: "br br"
                "brn brn"
                "ob ob"
                "obt obt"
                "ti sm"
                " ti  smt"
                ;
               
            }


            .p-brand{
                grid-area: br;
            }
            .p-brand-name{
                grid-area: brn;
                span{
                    font-size: rem-calc(18);

                    @include md{
                        font-size: rem-calc(22);
                    }
                }
            }
            .text-img{
                grid-area: ti;
                object-fit: cover;
                object-position: center;
                height: 250px;
                width: 100%;
                padding-bottom: 40px;
                @include md{
                height: 400px;
                }

                @include lg{
                    height: 100%;
                }
            }
            .p-objective{
                grid-area: ob;
            }
            .p-objective-text{
                grid-area: obt;
               
            }
            .p-summary{
                grid-area: sm;
                @include lg{
                    padding-top: 40px;
                }
            }
            .p-summary-text{
                grid-area: smt;
                @include lg{
                    padding-bottom: 40px;
                }
            }
            
            
        }

        .slider-title-div{
            padding-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include lg{
                padding-top: 100px;
            }
            h2{
                font-family: 'Lato', serif;
                font-size: rem-calc(14);
                font-weight: 300;
            }
        }

        .my-slider-base{
            padding-top: 5px;
            
            div {
                height: 300px;

                @include md {
                    height: 400px;
                }

                @include lg {
                    height: 600px;
                }
    
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                
            }
            
        }
        .tns-controls [aria-controls] {
            color: white;
            background: black;
            border-radius: 0;
            background-color: black;



        }
    
            
        }

       
       
    }
