/* =============
    Typography
============= */
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto', sans-serif;

body{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

// .section-title{
//     font-weight: 300;
// }

.name-logo{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: rem-calc(25);
    // font-style: italic;
    text-decoration: none;
    color: black;
    @include md{
        font-size: rem-calc(30); 
    }
    @include lg{
        font-size: rem-calc(30); 
    }

    
}

.section-title{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    text-decoration: none;
    color: black;
    padding-bottom: 30px;
    text-align: left;
    font-size: rem-calc(35);
    // font-style: italic;

    @include md{
        font-size: rem-calc(40); 
    }
    @include lg{
        font-size: rem-calc(50); 
    }
    
}

.section-title-about{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    text-align: left;
    font-size: rem-calc(30);
    // font-style: italic;

    @include md{
        font-size: rem-calc(25); 
    }
    @include lg{
        padding-bottom: 0px;
        font-size: rem-calc(25); 
    }
    
}

// .section-text{ padding: 20px 0 0;
//     font-family: 'Lato', sans-serif;
//     font-weight: 300;
//     font-size: rem-calc(16);
//     line-height: 25px;
//    text-align: justify;
//     @include md{
//         font-size: rem-calc(18); 
//     }
// }

.section-text{
    font-size: rem-calc(18);
                font-family: 'Lato', serif;
                font-weight: 300;
                line-height: 30px;
                text-align: left;
                @include lg{line-height: 40px;
                    font-size: rem-calc(18);
                }
}

.section-text-about{
    font-size: rem-calc(18);
                font-family: 'Lato', serif;
                font-weight: 300;
                line-height: 30px;
                text-align: left;
                margin-bottom: 20px;
                @include lg{line-height: 40px;
                    font-size: rem-calc(18);
                }
}

.section-nav{ padding: 40px 0 0;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: rem-calc(30);
    line-height: 25px;
   text-align: center;
   text-decoration: none;
   color: black;

   @include lg{
    padding: 20px 0 0;
    font-size: rem-calc(25);
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    line-height: 20px;
   }
   
}

.project-summary-title{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    
    text-align: left;
    font-size: rem-calc(25);
    // font-style: italic;

    @include md{
        font-size: rem-calc(30); 
    }
    @include lg{
        font-size: rem-calc(25); 
    }
}

.pad-left{
   @include md{
    margin-left: 40px;
   }
}
.b-pad-left{
    @include lg{
     margin-left: 40px;
    }
 }

.project-summary{
    font-size: rem-calc(18);
                font-family: 'Lato', serif;
                font-weight: 300;
                line-height: 30px;
                text-align: left;
                padding-bottom: 40px;
                @include lg{line-height: 40px;
                    font-size: rem-calc(18);
                }
}

.project-name{
    font-size: rem-calc(40);
                font-family: 'Lato', serif;
                font-weight: 300;
                line-height: 40px;
                text-align: left;
                padding: 0 0 40px 0;
                @include lg{line-height: 40px;
                    font-size: rem-calc(50);
                    
                }
}

.visit{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    @include md{
        margin-left: 40px;
    }
    a:link,
    a:visited {
        text-decoration: none;
        >div{
            border: black 1px solid;
            background-color: black;
            p{
                padding: 10px;
                color: white;
        font-family: 'Playfair Display', serif;
        font-size: rem-calc(18);
        font-weight: 600;
        text-decoration: none;
        
        transition: 1s;
        width: 100%;
        text-align: left;
    //    padding-bottom: 40px;
            }
        }
    }

    a:hover,
    a:active {

        >div{
            border: black 1px solid;
            background-color: $grey;
            p{
                color: black; 
            }
        }

        
    }
}




