/* =============
    Index Content
============= */


#home-slides {
  
    

        >div{
            .my-slider-1 {

                div {
                    height: 100vh;
    
    
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .tns-controls [aria-controls] {
            
                background-color: $grey;
                display: none;
    
            }
        }

        // .tns-controls [aria-controls] {
            
        //     background-color: $grey;
        //     display: block;

        // }
    
}