/* =============
    Index Content
============= */
#home-page {


    #home-hero {

        background-image: url('../img/home/home-hero.jpg');
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;


    }
}