#schwab-brothers-hydraulics{
    border-bottom: black 1px solid;
    padding-bottom: 100px;
    #schwab-brothers-div{
        
    }
}

#group-project{
    padding-bottom: 100px;
    border-bottom: black 1px solid;
}

#misc-projects{
    padding-bottom: 100px;
    >div{
        #misc-type-container{
            @include md{
                display: grid;
            // width: auto;
                grid-template-columns: 60% auto;
                grid-template-areas: "pro pro"
                "pron pron"
                // "visit visit"
                "sum resp"
                "sumt respt";
            }
            @include lg{
                grid-template-columns: 70% auto;
            }
            @include xl{
                grid-template-columns: auto 30%;
            }
        
            
        }
        
        #misc-anchors{
          display: flex;
                justify-content: center;
                align-items: center;
                
            a:link,
        a:visited {
            text-decoration: none;
            transition: .5s;
            div{
                transition: .5s;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                // flex-flow: wrap;
                
                h1{ transition: .5s;
                   text-align: center;
                    z-index: 100;
                    font-size: rem-calc(18);
                    color: black;
                    font-weight: 500;
                    padding-bottom: 20px;
                }
                img{ transition: .5s;
                    align-items: center;
                    object-position: top;
                    object-fit: cover;
                 height: 125px;
                    width: 90%;
                    transform: scale(1);
                    @include md{
                        height: 250px;

                        }
                    @include lg{
                    }

                }

                h2{ font-family: 'Lato', serif;
                    font-size: rem-calc(14);
                    font-weight: 300;
                    text-align: center;
                    padding-top: 20px;
                }

            }
        }
    
        a:hover,
        a:active {
    
            div{

             
                h1{
                //   letter-spacing: 3px;
                }
                img{
                  
                    transform: scale(.9);
                    filter: blur(0px);

                    @include md{
                        // height: 275px;
                       
                        }
                    @include lg{
                       
                    }
                }

            }
           
            
        }
         }
    }
}