/* =============
    Header
============= */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  // @include lg{ background-color: rgba($color: $grey, $alpha: .50);}

  div {
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-areas: "logo burger";
    padding: 10px 0;

    // @include lg {
    //   padding: 20px 0;
    // }

    // @include lg {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    #name-container {
      align-items: center;
      grid-area: logo;
      display: flex;

      a:link,
      a:visited {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: rem-calc(25);
        font-style: italic;
        text-decoration: none;
        color: black;
        transition: 0.8s;

        @include md {
          font-size: rem-calc(30);
        }

        @include lg {
          font-size: rem-calc(30);
        }

        span {
          font-weight: 200;
        }
      }

      a:hover,
      a:active {
        color: black;
        font-size: rem-calc(30);
        font-style: normal;
        transition: 0.8s;

      }

    }


    #burger-container {
      align-items: center;
      display: flex;
      justify-content: flex-end;

      #burger {
        cursor: pointer;
        // transition: 0.25s;

        .lines {
          // transition: 0.25s;
          opacity: 0.0;
          
        }
        #circle{
          opacity: 0.0;
        }

        
      //   &:hover{
      //     #lines{
      //         stroke: white !important;
      //     }
      // }
        
      }


    }


  }
}