/* =============
    Header
============= */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  // @include lg{ background-color: rgba($color: $grey, $alpha: .50);}

  div {
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-areas: "logo burger";

    padding: 10px 0;

    // @include lg {
    //   padding: 20px 0;
    // }

    // @include lg {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    #name-container {
      align-items: center;
      grid-area: logo;
      display: flex;

      a:link,
      a:visited {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: rem-calc(25);
        font-style: italic;
        text-decoration: none;
        color: black;
        transition: 0.8s;
        @include md {
          font-size: rem-calc(30);
        }

        @include lg {
          font-size: rem-calc(25);
        }

        span {
          font-weight: 200;
        }
      }

      a:hover,
      a:active {
        color:black;
        font-size: rem-calc(30);
        font-style: normal;
        transition: 0.8s;

      }

    }

    // #myNav {
    //   display: none;

    //   @include lg {
    //     display: grid;
    //   }
    // }

    #burger-container {
      align-items: center;
      color: #F6F6F6;
      display: flex;
      background: black;
      font-size: rem-calc(29);
      justify-content: center;
      grid-area: burger;
      margin-right: -15px;
      padding: 10px 0 10px 0;

      @include md {
        margin-right: -30px;
        padding: 10px 0 10px 0;
      }

      // @include lg {
      //   display: none !important;
      // }

      i {
        cursor: pointer;
      }
    }


  }
}