/* =============
    Buttons
============= */
.black-button {
	background-color: black;
	color: #fff;
	width: 100px;
	border: none;
	font-size: 1rem;
	padding: 10px 10px;
	font-family: 'Playfair Display', serif;
                                font-weight: 800;
	
	
  }
  @media (min-width: 768px) {
	.black-button {
	  font-size: 1.25rem;
	  padding: 14px ;
	}
  }
  @media (min-width: 1020px) {
	.black-button {
	  font-size: 1rem;
	  padding: 10px;
	}
  }
  .black-button:hover {
	transition: .5s;
	background-color: $grey;
	color: black;
	
  }