/* =============
    Navigation
============= */


#main-nav{
	background-color: rgba($color: #000, $alpha: 1);
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 900;

    @include lg{
        display: none;
       
    

    }

    // div{
       
    //     width: 100%;
    //     display: flex;
    //     justify-content: flex-end;
    // }
	
        ul{
            // li:nth-child(1) {
            //     font-size: rem-calc(30);
            // }
           @include lg{
            padding: 0 0 0 20px;
            li:nth-child(6) {
                display: none;
             }

             li:nth-child(5) {
                display: none;
             }
           }

            
            li{

                
                

                a:link,
        a:visited {
          color: white;
            // font-size: rem-calc(22);
            // font-weight: 300;
            text-decoration: none;
            transition: 0.25s;
            width: 100%;

          

            // border: 1px solid white;
            // border-radius: 20px;
            // padding: 3px 7px ;
          
        }
  
        a:hover,
        a:active {
            color: $grey;
            // font-size: rem-calc(30);
            // border-radius: 0;
            // border: none;
            letter-spacing: 3px;
            
            
        }
               
            }
        }
    
}

